/* iPhone 6 */
#wrapper { width: 375px; height: 667px; position: relative; }

#home-filters div#activity-filter {
    background-size: 30px;
}
#coach-section div.filter.clone,
#home-filters div {
    background-size: 40px;
    height: 61px;
}
#coach-section .filter.clone::after,
#home-filters div::after{
    font-size: 15px;
    background-size: 31px;
    line-height: 560%;
}
#category-container { height: 545px; }
.recommended-filter #category-container{ height: 510px; }
#welcome div .title,
#category-container div .title {
    width: 340px;
    font-size: 19px;
    line-height: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
}
header nav #profile-nav {
    height: 45px;
    width: 45px;
}
#people {
    font-size: 0.8em;
}
#people .match {
    width: 49px;
}
#people .plus {
    line-height: 49px;
    height: 49px;
}
#share-buttons {
    margin-top: 70px;
}
.line {
    font-size: 15px;
}
.list-grid-item {
    height: 179px;
    width: 119px;
}
#pack-title {
    width: 318px;
}
.digest-content-img {
    height: 185px;
}
.purchase-links a {
    height: 25px;
    width: 25px;
    top: 7px;
}
#welcome div .title {
    padding-bottom: 5px;
    line-height: 19px;
    padding-top: 5px;
    font-size: 15px;
}
#welcome-categories { height: 607px; }
#welcome .catItem { max-height: 140px; }
#category-container .catItem { max-height: 200px; }
#category-container #side-swipe { width: 355px; }
.feed-item { width: 335px; }
.feed-item .suggested-tastemate {
    background-position: 45px 0;
    padding-left: 20px;
}
.feed-item .activity-feed-buttons .button {
    width: 48%;
}
.poster img.movie-img { height: auto; }
#notifications-container { height: 606px; }
#side-nav { width: 306px; }
#search #list-row-wrapper { height: 559px; }
#list-row-wrapper.friend-list { height: 532px; }
.list-movie-images { margin-right: 30px; }
#user-matches,
#settings-wrapper { height: 616px; }
.settings-button { background-position: 340px; }
#notifications-container { top: 60px; }
input.slider-search-form {
    width: 343px;
}
#recommendation-filters.show { top: 61px;}
#video-player , #fabric-player { width: 375px; }
#movie-list {height: 421px;}
.list-movie-image { margin-right: 25px; }
#movie-list .movie-poster.active {
    height: 167px;
    width: 110px;
}
#movie-list .movie-poster {
    width: 115px;
    height: 173px;
    margin: 8px 0 0 7px;
}

.context-info {
    width: 235px;
}
/* discovery */
#discovery-background {
    background-image: url(../images/discovery/rateOverlay3.png);
    background-size: 320px 430px;
    height: 430px;
}

#up-next-wrapper { height: 403px; }
#up-next-wrapper .catItem { height: 112px; }

#discovery-complete {
    top: 0px;
    height: 480px;
    background-size: 320px 480px;
}
#discovery-complete h1 { margin: 75px 0 0 0; }
#discovery-complete #share { bottom: 175px; }
#discovery-complete #done { bottom: 88px; }

#slider-container { width: 1875px; }
#indicator { left: 153px; }


/* iPhone 6+ */

#category-container .catItem { max-height: 200px; }

.poster img.movie-img { height: auto; }
#profile,
#user-matches,
#list-row-wrapper,
#list-row-wrapper.no-edit,
#friends #list-row-wrapper,
#list-row-wrapper.friend-list,
.follow-list #list-row-wrapper,
.movie-seen-list #list-row-wrapper,
#settings-wrapper { height: 607px; }
#fabric-menu { top: -686px; }
#dashboard #fabric-menu.open { top: 59px; }
.settings-button { background-position: 390px; }
#discovery-background {
    background-image: url(../images/discovery/rateOverlay3.png);
    background-size: 320px 430px;
    height: 430px;
}

#up-next-wrapper { height: 403px; }
#up-next-wrapper .catItem { height: 112px; }
#swiper-content .highlight-holder #favorite-highlight { top: 270px; }
#discovery-complete {
    top: 0px;
    height: 480px;
    background-size: 320px 480px;
}
#discovery-complete h1 { margin: 75px 0 0 0; }
#discovery-complete #share { bottom: 175px; }
#discovery-complete #done { bottom: 88px; }
#slider,
#slider-container .intro-slide {
    width: 375px;
    height: 667px;
}

#side-swipe .contain,
.empty-concierge {
    height: 185px;
}
#side-swipe .watching-next.contain p {
    padding: 25px 5px;
}
#side-swipe .watching-next.contain input { margin-left: 22px; width: 300px; top: 125px; height: 30px; }
#side-swipe .watching-next.contain h1 { font-size: 20px; }
#slide-status-update::-webkit-input-placeholder{ text-align: center; }
#status-update-input { width: 332px; }
#profile .sub-header div { width: 187px; }
.passion-poster-container { height: 154px; }
#profile .poster:first-child { left: 2px; z-index: 4; }
#profile .poster:nth-child(2) { left: 84px; z-index: 3; }
#profile .poster:nth-child(3) { left: 166px; z-index: 2; }
#profile .poster:nth-child(4) { left: 249px; z-index: 1; }
.lists-nav { background-position: 380px; }
#friends.self #list-row-wrapper { height: 559px; }

header nav h1 { width: 270px; height: 60px; line-height: 60px;}
div#mask .wheel {
    top: 300px;
    left: 160px;
}
.div-swiper {
    width: 250px !important;
    height: 371px !important;
    top: 160px;
    left: 60px;
}
.follow-name { width: 220px; }
.swipe-icon {
    height: 43px;
    width: 37px;
}
.swipe-icon span { font-size: 14px; top: 33px; }
.swipe-icon.not-seen span { font-size: 13px; left: -9px;}
.swipe-icon.favorite { top: 120px; left: 173px; }
.swipe-icon.queue { bottom: 60px; left: 173px; }
.swipe-icon.seen,
.swipe-icon.not-seen { top: 350px; }
#progress { top: 116px; }
#progress .outer-bar { height: 6px; }
#progress .outer-bar #inner-bar { height: 6px; }
#progress .numbers { line-height: 12px; }

#follow-info { width: 250px;}
#follow-info li b { font-size: 25px; }
#follow-info li p { font-size: 17px; }
#profile-picture-block { height: 80px; width: 80px; }
#profile-info-bottom {font-size: 18px;}
#profile #action-buttons .button.follow {  background-position-x: 20px; }
#profile .button, .follow-button, .say-hi { font-size: 20px; }
.profile-tile {
    height: 172px;
    width: 172px;
}
#profile-content .content-info {
    font-size: 15px;
}
#profile #action-buttons .button.follow,
#profile #action-buttons .button.greeting {
    background-position-x: 20px;
    line-height: 37px;
    height: 37px;
    width: 170px;
}
#profile .poster {
    height: 143px;
    width: 95px;
}

#profile .sub-header h4 { font-size: 19px; }
#profile #top-genres .category {height: 40px; }
#profile #top-genres .category .passion { height: 40px; background-position-y: 3px;}
#profile #top-genres .category .cat-name { top: 13px; font-size: 16px; }
#profile #top-genres .content .user .avatar { width: 65px; height: 65px; border-radius: 33px; }
#player,
#video-src { height: 200px; }
#fake-lobby-scroller { height: 406px; }
#fake-lobby-scroller #services,
#fake-lobby-scroller .list-buttons,
#seen-data, #movie-info { width: 354px; }
#movie-poster { width: 60px; }
#synopsis-wrapper { height: 70px; }
#movie-title-heading img {width: 13px; background-size: 100% 100%; }
#fake-lobby-scroller .list-buttons .list-button.queue-button { background-position: 8px 11px; background-size: 12px; }
#fake-lobby-scroller .list-buttons .list-button.favorite-button { background-position: 15px 12px; }
#fake-lobby-scroller .list-buttons .list-button.seen-button { background-position: 26px 12px; }
#search #search-results.active {
    height: 503px;
}
#poster-layover {
    width: 100%;
    clip: rect(0px, 375px, 210px, 0px);
}
#conversation-slider {
    height: 555px;
}
#play::before { top: 50%; left: 10%; font-size: 60px; }
#gravity { background-position: center 490px; }
.bottom-info {
    font-size: 17px;
    margin-right: 10px;
}
.bottom-info span {
    background-size: 100% 100%;
    background-position: 0;
    height: 16px;
    width: 16px;
}

div#critic-rating.bottom-info {
    width: auto;
}

.list-summary #image {  }
.list-summary #info { width: 364px; height: 197px; font-size: 25px; }
.list-summary #info h1 { margin-top: 10px; }
#list-items .item .movie-info .poster-img {
    width: 70px;
    height: 105px;
}
#list-items .item .movie-info h1 {
    font-size: 18px;
    width: 75%;
}
.movie-info .buttons div {
    background-size: 15px;
    line-height: 30px;
    font-size: 13px;
    height: 30px;
    width: 125px;
}
#list-items div.item-icons { margin-bottom: 10px; font-size: 20px; }
#list-items div.item-icons div.recs {
    background-size: 15px 15px;
}
#list-items .item .movie-info .watch-icon { background-position-y: 8px; }
#list-items .item .movie-info .seen-icon { background-position-y: 8px; }
#list-items-container { height: 602px; }
#list-items .share-buttons .btn { width: 87px; background-position: 0; }

.feed-item .recommendation-action { width: 384px; }

.feed-item .avatar { height: 55px; width: 55px; border-radius: 30px; }
.feed-item .avatar.av-like-you {
    margin-bottom: 20px;
}
.feed-item .action {
    line-height: 22px;
    font-size: 17px;
    min-height: 50px;
}
.feed-item .action-info .comment {
    margin-bottom: 10px;
    line-height: 25px;
    font-size: 20px;
}
h6.like-you + .action {
    min-height:75px;
}
.feed-footer .span { font-size: 18px; }
.feed-item .like-you {font-size: 11px; top: 70px; }
#favorite-delta .delta-poster { height: 470px; }
#favorite-delta .delta-poster img { width: 314px; }
#favorite-delta .feed-item { width: 345px; padding-bottom: 0;}
#favorite-delta .feed-footer { border-top: none; }
#favorite-delta .feed-footer { width: 345px; margin: 0 auto; }

#ready-to-start { margin-top: 30px; }
.share-icons div {
    text-align: center;
    line-height: 55px;
    padding-right: 0;
    width: 187px;
}
#feed-container { height: 581px; }
.share-icons div.twitter { padding-right: 0; }

#user-matches .match { margin: 10px auto 0; }
.fl .login-text { width: 242px; }
#registration { left: 18px; }
#registration .row.double .icon { height: 67px; }
#match-found,
#rate-first,
#get-started {
    width: 100%;
    height: 667px;
    background-size: 100%;
}
#slide-filters div,

#coach-section h1,
#dashboard header nav h1 {
    height: 55px !important;
    line-height: 40px;
    width: 110px;
}
#current-icon.all, #dashboard header nav h1.open span {
    background-size: 20px 46px;
    height: 100%;
    top: 0px;
}
#coach-section h1 span,
#dashboard header nav h1 span {
    top: 12px;
    margin: 0 0 0 4px;
    height: 30px;
    width: 26px;
    background-size: 17px;
}
header nav { height: 59px; }

header nav #notifications-menu {
    right: 54px;
}
header nav #notifications-menu.on {
    background-position: 6px 12px;
}   
header nav #share-icon,
header nav #shopping-cart,
header nav #notifications-menu,
header nav #chat-menu { top: 5px; }
header nav #tap-menu { width: 55px; }
#friends #list-row-wrapper.no-friends { height: 586px; }
#category-container .concierge-poster { height: 185px; width: 123px; }
.concierge-text { height: 140px; width: 202px; }
#category-container .concierge-info h1 { margin: 15px 0; }
#category-container .concierge-info h1 span { margin-top: 15px; }
#synopsis {

}
.concierge-info h2, .concierge-button {
    margin: 20px auto;
    font-size: 16px;
    width: 100px;
}
#menu-search-form { width: 87%; }
#menu-search-form input { width: 100%; height: 18px; }
#search-form input { width: 80%; height: 25px; }
#up-next { top: 59px; height: 666px; }
#up-next-wrapper { height: 573px; }
#up-next-wrapper .catItem { height: 169px; }
#up-next-wrapper div .title { width: 330px; }
#dashboard header nav h1.notify { line-height: 65px; }
#more { font-size: 13px; }
#seen-avatars .avatar {
    border-radius: 30px;
    margin-left: 23px;
    height: 60px;
    width: 60px;
}
.commerce h2 { font-size: 18px; }
#services .commerce, #available-services .commerce { background-size: 30px; }

#statusUpdates .text-box textarea { width: 260px; height: 120px; font-size: 18px; margin-top: 12px; }
.share-icons { height: 55px; }
#category-container #status-drop {
    max-height: 454px;
    margin-left: -1px;
    width: 100%;
    top: 185px;
    right: 4px;
}
#close-status-drop {
    width: 354px;
    top: 185px;
}
#status-drop { max-height: 486px; }
#search-results .result,
#status-drop .result,
#menu-drop .result {
    height: 75px;
}
#search-results .result .poster,
#status-drop .result .poster,
#menu-drop .result .poster {
    background-size: 100% 100%;
    height: 75px;
    width: 50px;
}
#search-results .result h1,
#status-drop .result h1,
#menu-drop .result h1{
    padding-left: 10px;
    line-height: 18px;
    padding-top: 2px;
    font-size: 18px;
}
#search-results .result h2,
#status-drop .result h2,
#menu-drop .result h2 {
    padding-left: 10px;
}
#menu-drop  { max-height: 606px; width: 270px; }
div.left.button { top: 6px; }
#profile #side-swipe .slick-list,
#profile #side-swipe .contain,
#profile .info { height: 300px;}

#post-button { top: 14px; }
#status-poster.poster {
    background-size: 100% 100%;
    height: 128px;
    width: 85px;
}

/* Rtina Images */

#slider-container #slide1 { background-image: url(../images/6p/login/01_slide.png); }
#slider-container #slide2 { background-image: url(../images/6p/login/02_slide.png); }
#slider-container #slide3 { background-image: url(../images/6p/login/03_slide.png); }
#slider-container #slide4 { background-image: url(../images/6p/login/04_slide.png); }
div#mask .wheel { background-image: url(../images/6p/discovery/loader.png); }
#category-container .content-scroller.loading { left: 155px; }
#welcome div .title .icon.icon4,
#category-container div .title .icon.icon4,
#up-next-wrapper div .title .icon.icon4 { background-image: url(../images/6p/discovery/music.png); }
#welcome div .title .icon.icon3,
#category-container div .title .icon.icon3,
#up-next-wrapper div .title .icon.icon3 { background-image: url(../images/6p/discovery/travel.png); }
#welcome div .title .icon.icon2,
#category-container div .title .icon.icon2,
#up-next-wrapper div .title .icon.icon2 { background-image: url(../images/6p/discovery/tv.png); }
#welcome div .title .icon.icon1,
#category-container div .title .icon.icon1,
#up-next-wrapper div .title .icon.icon1 { background-image: url(../images/6p/discovery/movies.png); }
header nav #share-icon {
    background-image: url(../images/6p/discovery/share.png);
    background-image: url(../images/6p/discovery/share.png);
    background-size: 24px 28px;
    top: 5px;
    right: 10px
}
header nav #chat-menu {
    background-image: url(../images/6p/discovery/chat.png);
    background-size: 22px;
    right: 3px;
}
header nav #notifications-menu {
    background-size: 18px;
}
#current-icon.all { background-image: url(../images/6p/discovery/fabricIcons/arrowBlack.png); }
.list header nav h1.open span,
#dashboard header nav h1.open span { background-image: url(../images/6p/discovery/fabricIcons/arrowRed.png); }

header nav #shopping-cart,


#done-button, #more-button, #done-inter-button, #rec-filter-button {
    font-size: 18px !important;
    top: 24px;
}
#all-nav { background-image: url(../images/6p/discovery/fabricIcons/alldot.png); }
#movies-nav { background-image: url(../images/6p/discovery/fabricIcons/movieMenuIcon.png); }
#tv-nav { background-image: url(../images/6p/discovery/fabricIcons/tvMenuIcon.png); }
#travel-nav { background-image: url(../images/6p/discovery/fabricIcons/travelMenuIcon.png); }
#music-nav { background-image: url(../images/6p/discovery/fabricIcons/musicMenuIcon.png); }
.check-list-wrapper { height: 125px; line-height: 125px; }
div.check-list-wrapper div.check-list-item { line-height: 115px; height: 115px; }
#category-container div img.check-list-poster { width: 78px; }
.check-list-check {
    background-image: url(../images/6p/discovery/lightgrey-check.png); border: none;
    background-size: 100% 100%;
    background-position: 0;
    height: 35px;
    width: 35px;
}
.checked .check-list-check { background-image: url(../images/6p/discovery/redcheck.png); }
.check-list-ratings span {
    background-position-y: 0;
    background-size: 14px;
    font-size: 18px;
}
#sort-button-text.cancel { left: 100px; }

/*  COACH MARK STYLE  */

#coach-section.feed #coach-text { margin-top: 140px; }
#coach-section.swipe {
    background-image: url(../images/6/discovery/coach/directional.png);
    background-size: 320px 568px;
}

#coach-section.swipe #coach-button {
    margin-top: 550px;
}

#get-started { background-image: url(../images/6/login/iphone-tut.png); }
#rate-first.coach0 { background-image: url(../images/6/discovery/coach/coach0.png); }
#rate-first.coach1 { background-image: url(../images/6/discovery/coach/coach1.png); }
#rate-first.coach2 { background-image: url(../images/6/discovery/coach/coach2.png); }
#rate-first.coach3 { background-image: url(../images/6/discovery/coach/coach3.png); }
#welcome-container #welcome-content.next { background-image: url(../images/discovery/05_scrim.png); }


#search-for-friends, #invite-facebook {
    background-position: 8px;
    background-size: 30px;
    line-height: 45px;
    font-size: 17px;
}
div#search-for-friends { background-size: 24px; }
#search-for-friends input, #search-for-friends input::-webkit-input-placeholder {
    font-size: 17px;
}
.lists-row .profile-picture {
    border-radius: 25px;
    height: 50px;
    width: 50px;
}
.friend-list .lists-row,
#friends .lists-row {
    padding: 22px 0 18px 18px;
    height: 50px;
}
.follow-compatibility { width: 33px; font-size: 10px; }
.percent-match { margin-top: 34px; }
.greeting .credits,
#user-matches h1.credits {
    background-position: 15px 2px;
    background-size: 23px 20px;
}
#use h1 { font-size: 24px; }
.greeting .credits { background-position: 110px 9px; }
#user-matches #match-config {
    height: 20px;
    width: 20px;
}
#user-matches .match {
    width: 289px;
}
#user-matches .match .avatar {
    height: 140px;
    width: 140px;
}
.match .match-compatibility {
    padding-top: 13px;
    font-size: 14px;
    height: 50px;
    width: 60px;
}
#user-matches .match .buttons .follow,
#user-matches .match .buttons .greet {
    line-height: 40px;
    font-size: 19px;
    height: 40px;
}
.greeting .dash .avatar {
    border-radius: 40px;
    height: 80px;
    width: 80px;

}
.greeting .content .box .info {
    font-size: 18px;
    width: 220px;
}
#messages-slider {
    overflow: hidden;
    height: 607px;
}
.suggested-message {
    line-height: 19px;
}
.greeting .content .box form input[type="text"] {
    width: 296px;
}
.greeting .content h1 {
    font-size: 17px;
}

.settings-button { line-height: 50px; font-size: 15px; }
#logout {
    font-size: 19px;
    height: 45px;
}
#update {height: 45px; }
/* font fixes */
#category-container .concierge-info h1 span, #synopsis { font-size: 13px; }
#fake-lobby-scroller .list-buttons .list-button, #title-synopsis-block h3 { font-size: 14px; }
.follow-location { font-size: 15px; }
.concierge-info h6, #side-swipe .watching-next.contain p, #seen-by-container { font-size: 16px; }
#profile .bio .location, #favorite-delta h1, #profile #top-genres .content h1 { font-size: 18px; }
.check-list-title, .button2, .lists-nav, .recommendation-action p:first-of-type, .follow-name,
.percent-match { font-size: 18px; }
#profile .bio .name { font-size: 25px; }
.greeting .credits,
#user-matches h1.credits { font-size: 25px; }
