/* iPhone 6+ */
#wrapper { width: 414px; height: 736px; position: relative; }
#home-filters div, #coach-section div.filter.clone { height: 52px; background-size: 46px; }
#home-filters { width: 414px; }
#search #search-results.active {
    height: 571px;
}

#category-container { height: 613px; }
#welcome-categories div .title,
#category-container div .title { width: 380px; font-size: 19px; }
#welcome-categories .catItem { max-height: 155px; }
#category-container .catItem { max-height: 300px; }
#category-container #side-swipe { width: 395px; }
.feed-item { width: 375px; }
.poster img.movie-img { height: auto; }
#side-nav { width: 346px; }
#profile,
#fabric-menu,
#user-matches,
#list-row-wrapper,
#notifications-container,
#list-row-wrapper.no-edit,
#friends #list-row-wrapper
#list-row-wrapper.friend-list,
.follow-list #list-row-wrapper,
.movie-seen-list #list-row-wrapper,
#settings-wrapper { height: 670px; } /* 686 */
#fabric-menu { top: -670px; }
.greeting .content { height: 100%; }
.settings-button { background-position: 390px; line-height: 55px; }
#friends.self #list-row-wrapper { height: 617px; }
#discovery-background {
    background-image: url(../images/discovery/rateOverlay3.png);
    background-size: 320px 430px;
    height: 430px;
}
.digest-content-img {
    height: 200px;
}
#people {
    font-size: 1em;
    height: 80px;
}
#people .match {
    margin-top: 8px;
    width: 55px;
}
#people .plus {
    line-height: 55px;
    height: 55px;
}

.purchase-links a {
    height: 30px;
    width: 30px;
    top: 9px;
}
.available-on {
    font-size: 15px;
}
#pack-title {
    width: 357px;
}
.digest-recommendation h3 {
    line-height: 40px;
}

.digest-avatar {
    height: 40px;
    width: 40px;
}

.list-grid-item {
    height: 198px;
    width: 132px;
}
.line {
    font-size: 18px;
    height: 9px;
}
#swiper-content .highlight-holder #favorite-highlight { top: 308px; }
#discovery-complete {
    top: 0px;
    height: 480px;
    background-size: 320px 480px;
}
#discovery-complete h1 { margin: 75px 0 0 0; }
#discovery-complete #share { bottom: 175px; }
#discovery-complete #done { bottom: 88px; }
#slider-container { width: 2070px; }
#slider,
#slider-container .intro-slide {
    width: 414px;
    height: 736px;
}
#indicator { left: 173px; }
#side-swipe .contain,
.empty-concierge {
    width: 395px;
    height: 195px;
}
#message-context {
    line-height: 25px;
}
#message-context img {
    height: 105px;
}
.context-info {
    width: 255px;
}
#side-swipe .watching-next.contain input {
    margin-left: 42px;
    width: 300px;
}
#welcome-categories { height: 670px; }
#profile .sub-header div { width: 206px; }
#profile .sub-header div:first-child { width: 207px; }
.lists-nav { background-position: 390px; }

header nav h1 {
    width: 320px;
    height: 65px;
}
div#mask .wheel {
    top: 320px;
    left: 180px;
}
.div-swiper {
    width: 315px !important;
    height: 472px !important;
    top: 190px;
    left: 46px;
}


/* COACH */
.swipe-icon {
    height: 30px;
    width: 30px;
}
.swipe-icon.favorite { top: 154px; left: 193px; }
.swipe-icon.queue { bottom:10px; left: 193px; }
.swipe-icon.seen,
.swipe-icon.not-seen { top: 385px; }
#progress {
    top: 122px; 
}

#profile #action-buttons .button.follow { margin-left: 2px; }
#profile-picture-block { height: 85px; width: 85px; }
#profile #action-buttons .button.follow,
#profile #action-buttons .button.greeting {
    width: 187px;
    height: 40px;
    line-height: 40px;
}
.profile-tile {
    height: 192px;
    width: 192px;
}
#profile-content .content-info {
    font-size: 20px;
}
#settings-gear {
    height: 25px;
}
#player,
#video-src { height: 233px; }
#fake-lobby-scroller { height: 452px; }
#fake-lobby-scroller #services,
#fake-lobby-scroller .list-buttons,
#seen-data, #movie-info { width: 394px; }
#poster-layover {
    width: 414px;
    clip: rect(0px, 414px, 233px, 0px); /* 197 */
}
#play::before { top: 70%; left: 10%; }
.bottom-info span {
    background-size: 18px;
    height: 18px;
    width: 18px;
}
div#friends-queued.bottom-info span {
    background-size: 22px;
    height: 22px;
    width: 22px;
}
.list-summary { line-height: 40px; }
.list-summary #info { width: 394px; height: 230px; padding: 0 10px; }
.list-summary #info h1 { margin: 20px 0; line-height: 25px; padding: 0 10px; }
.list-summary #info .avatar { height: 60px; width: 60px; border-radius: 30px; }
.list-summary #info .name { line-height: 80px; }
.discovery #list-items-container { height: 671px; }
#list-items-container { height: 686px; }
#list-items .share-buttons .btn {
    background-position: 0;
    height: 53px;
    width: 96px;
}
#list-items .item .movie-info .poster-img { width: 80px; height: 120px; }
#list-items .item .movie-info h1 { font-size: 20px; }
#list-items div.item-icons { margin-bottom: 10px; font-size: 20px; }
#list-items div.item-icons div.recs {
    background-size: 15px 15px;
    padding-left: 18px;
}
.movie-info .buttons div {
    background-size: 15px;
    line-height: 35px;
    font-size: 15px;
    height: 35px;
    width: 145px;
}
#list-items .item .movie-info .watch-icon { background-position-y: 10px; }
#list-items .item .movie-info .seen-icon { background-position-y: 10px; }
#list-items .share-buttons #fb.btn { margin-left: 7px; }

.feed-item .recommendation-action { width: 384px; line-height: 26px; font-size: 18px; }
#favorite-delta .delta-poster { height: 540px; }
#favorite-delta .delta-poster img { width: 360px; }
#favorite-delta .feed-item { width: 385px; }
#favorite-delta .feed-footer { width: 385px; margin: 0 auto; }

#ready-to-start { margin-top: 30px; }
.share-icons div {
    padding-right: 0;
    text-align: center;
    width: 206px;
}
.share-icons div.twitter { padding-right: 0; }
.share-icons div.facebook { width: 207px; }
.feed-item .action { font-size: 18px; line-height: 22px; min-height: 65px;}
h6.like-you + .action {
    min-height:80px;
}
.feed-item .action-info {
    line-height: 29px;
}
.feed-item .action-info .comment {
    line-height: 29px;
    font-size: 24px;
}
.feed-item .object, .action-content {
    font-size: 19px;
}
.feed-item .action .comment { margin-top: 45px; }
#user-matches .match { margin: 10px auto 0; }
.fl .login-text { width: 281px; }
#registration { left: 43px; }

#match-found,
#rate-first,
#get-started {
    width: 414px;
    height: 736px;
    background-size: 414px 736px;
}
#coach-section div.filter.clone:after,
#home-filters div::after{
    background-position-x: 29px;
}
div#fancy-button::after {
    background-position: center;
    background-size: 70% !important;
}
#coach-section div.filter.clone,
#home-filters div {
    height: 57px;
    line-height: 57px;
    font-size: 16px;
}
#home-filters img { right: 44%; }
#coach-section h1,
#dashboard header nav h1 {
    height: 66px !important;
    width: 122px;
    line-height: 66px;
}
#dashboard header nav h1 span {
    top: 14px;
    margin: 0 0 0 14px;
    height: 30px;
    width: 26px;
    background-size: 22px;
}
header nav { height: 65px; }
#current-icon.all,
#dashboard header nav h1.open span {
    top: 0px;
    right: 7px;
    height: 50px;
    background-size: 24px;
}
header nav #tap-menu {
    width: 60px;
}
#friends #list-row-wrapper.no-friends { height: 586px; }
#category-container .concierge-poster { height: 185px; width: 123px; }
.concierge-text { height: 152px; width: 240px; }
.concierge-info {
    width: 260px;
    height: 195px;
}
#category-container .concierge-info h1 {
    margin: 10px 0;
    font-size: 18px;
    line-height: 22px;
}
.concierge-info h2, .concierge-button { margin: 10px auto 0; line-height: 22px; }
#menu-search-form input { width: 100%; height: 30px; font-size: 16px; }
#search-form input {
    margin: 10px 0px 10px 16px;
    width: 90%;
    height: 25px;
}
#up-next { top: 65px; height: 661px; }
#up-next-wrapper { height: 641px; }
#up-next-wrapper div .title { width: 370px; }
#dashboard header nav h1.notify { line-height: 45px; }
#seen-avatars .avatar { margin-left: 30px; }
#fake-lobby-scroller .list-buttons .list-button.queue-button { background-position: 10px 11px; }
#fake-lobby-scroller .list-buttons .list-button.seen-button { background-position: 27px 11px; }
#fake-lobby-scroller .list-buttons .list-button.favorite-button { background-position: 18px 11px; }
#statusUpdates .text-box textarea { width: 310px; height: 120px; }
#status-update-input { width: 369px; }
#search-wrapper { height: 594px; }
#mcdonalds { font-size: 19px; }
#category-container #status-drop { width: 100%; top: 196px; }
#status-drop, #menu-drop { max-height: 501px; }
#user-matches h1.credits { background-position: 20px 2px; }
#search #list-row-wrapper { height: 613px; }
div#messages-slider,
#conversation-slider { height: 619px; }
#profile .info { height: 300px; background-position: 0 -25px; }
#feed-container { height: 650px; }
img.movie-img,
img.category-img { width: 350px; }
.side-menu-icon {
    height: 39px;
    width: 39px;
    background-size: 39px 39px;
}
#profile #side-swipe .slick-list, #profile #side-swipe .contain { height: 300px; }
header nav #chat-menu { background-size: 25px; right: 8px; }
header nav #share-icon {
    background-size: 24px 28px;
    top: 5px;
    right: 10px;
}

header nav .slide,
div.left.button {
    background-position: 17px 22px !important;
    background-size: 29px 20px;
    top: 0;
    left: 0;
    height: 65px !important;
    width: 65px;
}
div.left.button.back, #services-egress { padding-top: 0px; }
#notifications-container { top: 65px; }
#done-button,
#more-button,
#done-inter-button,
#rec-filter-button { line-height: 60px !important; top: 0; }
#menu-drop {
    top: 62px;
    left: 31px;
    width: 290px;
    max-height: 671px;
}
#menu-drop .result .info { width: 225px; }
#profile .poster:nth-child(2) { left: 98px; }
#profile .poster:nth-child(3) { left: 194px; }
#profile .poster:nth-child(4) { left: 290px; }
#user-matches .match { width: 360px; }
#user-matches .match .buttons .greet { background-position: 32px 9px; background-size: 20px 19px; }
#messages-container .message .conversation-info { width: 330px; }
#dashboard header nav h1.notify {
    height: 65px !important;
    line-height: 65px;
}
.recommended-filter #category-container { height: 556px; }
.onoffswitch { width: 54px; }
.onoffswitch-label { border-radius: 12px; }
.onoffswitch-switch { width: 24px; border-radius: 12px; }
.lists #list-row-wrapper { height: 736px; }
input.slider-search-form { width: 383px; }

#up-next-wrapper .catItem {
    height: 196px;
    max-height: 196px;
}
#video-player, #fabric-player { width: 415px; }
#movie-list .movie-poster { width: 128px; }
#movie-list .movie-poster.active { width: 122px; }
#movie-list { height: 490px; }
#dashboard #fabric-menu.open { top: 66px; }
.nav-menu-item { height: 39px; }
.menu-text { line-height: 39px; font-size: 22px; }
#services .commerce,
#available-services .commerce { background-size: 38px; }
.commerce h2 { font-size: 20px; padding: 15px 0; }
#side-menu-profile .side-menu-icon { border-radius: 20px; }
#profile .bio .name {
    font-size: 24px;
    margin: 5px 0;
}
#invite h3 {
    font-size: 25px;
}
#invite h4 {
    line-height: 30px;
    margin-top: 25px;
    font-size: 25px;
    font-weight: 300;
}
#friends .lists-row, .movie-seen-list .lists-row, .friend-list .lists-row { height: 56px; }
.search-users .profile-picture, .lists-row .profile-picture,
.movie-seen-list .profile-picture, .follow-list .profile-picture { height: 55px; border-radius: 27px; width: 55px; }
div#search-for-friends { background-size: 30px; }
#search-for-friends, #invite-facebook {
    background-size: 35px;
    line-height: 50px;
    padding: 0 55px;
    font-size: 16px;
}
.follow-compatibility { width: 40px; }
.percent-match { margin-bottom: 5px; padding-top: 0px; margin-top: 30px; }
#user-matches .match .avatar {
    width: 175px;
    height: 175px;
    background-size: 175px 175px;
}
.match .match-compatibility {
    height: 55px;
    width: 65px;
}
.greeting .dash { height: 135px; }
.greeting .dash .avatar {
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
    border-radius: 50px;
}
.greeting .content .box .info { width: 69%; }
.greeting .content .box #send-suggestion,
.greeting .content .box form #send-message {
    background-size: 20px 19px;
    background-position: 6px 8px;
}
.greeting .content .box form input[type="text"] { width: 95%; }
.greeting .credits {
    background-size: 20px 19px;
    background-position: 125px 10px;
}
.share-icons { height: 55px; }
.share-icons div { line-height: 55px; font-size: 20px; }
.share-icons div.facebook {
    background-size: 34px;
    background-position: 15px 50%
}
.share-icons div.twitter { background-size: 35px; }
#post-button { padding: 10px 15px; }
#statusUpdates .text-box textarea {
    width: 290px;
    font-size: 18px;
    margin-top: 20px;
}
#status-poster.poster { width: 100px; height: 150px; background-size: 100px 150px; }

header nav #notifications-menu { background-size: 20px; right: 58px; top: 5px;}

header nav #notifications-menu.on {
    background-size: 30px;
    background-position: 7px 12px;
}

#menu-search-form { margin: 20px auto; }
.feed-item .avatar {
    border-radius: 33px;
    margin-right: 15px;
    height: 65px;
    width: 65px;
}
.feed-item .like-you {
    font-size: 13px;
}
.list-item .compatibility,
.feed-item .compatibility {
    width: 35px;
    height: 35px;
    border-radius: 19px;
    line-height: 35px;
    font-size: 14px;
    left: 50px;
}
.feed-item .suggested-tastemate {
    background-position: 55px 0;
}
#category-container .concierge-info h1 span { margin-top: 10px; }
.check-list-title { width: 252px; line-height: 22px; }
.check-list-wrapper { height: 143px; }
#category-container div img.check-list-poster { width: 88px; }
div.check-list-wrapper div.check-list-item { height: 133px; }
.check-list-ratings span { background-size: 18px; background-position: 0 0; margin-left: 5px; line-height: 18px; }
.check-list-ratings span.fresh { background-position: 0 -3px; }
#sort-button { line-height: 60px; }
#sort-button::before { font-size: 22px; }
div#critic-rating.bottom-info { left: 120px; }
div#friends-favorited.bottom-info { left: 195px; }
div#friends-queued.bottom-info { left: 250px; }
#gravity { background-position: center 525px; }
#swiper-content .highlight-holder #queue-highlight, #swiper-content .highlight-holder #favorite-highlight, #swiper-content .highlight-holder #not-seen-highlight, #swiper-content .highlight-holder #seen-highlight {
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
}
.swipe-icon span { top: 39px; left: 4px; }
.swipe-icon.not-seen span { left: -11px; width: 63px; }
.swipe-icon.favorite span { left: -5px; }
#synopsis-wrapper { height: 86px; }
#movie-poster { width: 100px; }
#profile #top-genres .category .passion { background-position-y: 7px; }
#profile #top-genres .category .passion,
#profile #top-genres .category { height: 50px; }
#profile #top-genres .category .cat-name { top: 16px; font-size: 18px; }
#close-status-drop {
    top: 128px;
    right: 46px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
}
#search-results .result,
#status-drop .result,
#menu-drop .result { height: 90px; }
#search-results .result .poster,
#status-drop .result .poster,
#menu-drop .result .poster {
    width: 60px;
    height: 90px;
    background-size: 60px 90px;
}
#search-results .result h1,
#status-drop .result h1,
#menu-drop .result h1 {
    margin: 5px 0;
    font-size: 20px;
    line-height: 22px;
}
#sort-button { bottom: -62px; }
#update, #logout { height: 43px; }
#user-matches #match-config {
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
}
.list-movie-info { width: 285px; }
.list-title {
    width: 235px;
    max-height: 60px;
    line-height: 20px;
}
#notifications-container .notification .content { width: 320px; }
#notifications-container .notification .content p { font-size: 16px; margin-top: 5px; line-height: 20px; }
#notifications-container .notification .avatar {
    width: 60px;
    height: 60px;
    background-size: 60px;
    border-radius: 30px;
}
.lists-nav { background-size: 13px; }
#close-menu-drop { top: 28px; }
#user-matches .match .buttons .follow, #user-matches .match .buttons .greet {
    height: 40px;
    line-height: 40px;
}
#fake-lobby-scroller .list-buttons .list-button {
    padding-left: 5px;
    width: 31%;
}
.passion-poster-container { height: 160px; }
#profile .poster { width: 100px; height: 150px; background-size: 100px 150px; }
#profile .poster:nth-child(2) { left: 95px; }
#profile .poster:nth-child(3) { left: 190px; }
#profile .poster:nth-child(4) { left: 285px; }
.poster img.movie-img.music { height: auto; }




#wrapper.welcome #search-results.active {
    height: 500px;
}


/* font fixes */
#category-container .concierge-info h1 span, #synopsis { font-size: 13px; }
#fake-lobby-scroller .list-buttons .list-button, #disclaimer, .check-list-title span { font-size: 14px; }
.follow-location { font-size: 15px; }
#seen-by-container, .greeting .content .box h1, #side-swipe .watching-next.contain input,
.settings-button, #title-synopsis-block h3 { font-size: 16px; }
#profile .bio .location, #favorite-delta h1, #profile #top-genres .content h1, .greeting .content .box form #send-message,
.greeting .content .box #send-suggestion, #side-swipe .watching-next.contain p, concierge-info h6,
#conversation-container .message { font-size: 18px; }
.check-list-title, .button2, .lists-nav, .recommendation-action p:first-of-type, .follow-name,
.percent-match, #user-matches .match .buttons .follow, #user-matches .match .buttons .greet,
#update, #logout, .feed-footer span, #sort-button-text { font-size: 20px; }
#side-swipe .watching-next.contain h1 { font-size: 22px; }
#user-matches h1 , .greeting .credits{ font-size: 26px; }
/* importants */
div.right.button, div.left.button { font-size: 18px !important; }




/* Retina Images */
#slider-container #slide1 { background-image: url(../images/6p/login/01_slide.png); }
#slider-container #slide2 { background-image: url(../images/6p/login/02_slide.png); }
#slider-container #slide3 { background-image: url(../images/6p/login/03_slide.png); }
#slider-container #slide4 { background-image: url(../images/6p/login/04_slide.png); }
div#mask .wheel { background-image: url(../images/6p/discovery/loader.png); }
#category-container .content-scroller.loading { left: 175px; }

#welcome-categories div .title .icon.icon4,
#category-container div .title .icon.icon4,
#up-next-wrapper div .title .icon.icon4 { background-image: url(../images/6p/discovery/music.png); }
#welcome-categories div .title .icon.icon3,
#category-container div .title .icon.icon3,
#up-next-wrapper div .title .icon.icon3 { background-image: url(../images/6p/discovery/travel.png); }
#welcome-categories div .title .icon.icon2,
#category-container div .title .icon.icon2,
#up-next-wrapper div .title .icon.icon2 { background-image: url(../images/6p/discovery/tv.png); }
#welcome-categories div .title .icon.icon1,
#category-container div .title .icon.icon1,
#up-next-wrapper div .title .icon.icon1 { background-image: url(../images/6p/discovery/movies.png); }


header nav #share-icon { background-image: url(../images/6p/discovery/share.png); }
header nav #chat-menu { background-image: url(../images/6p/discovery/chat.png); }
#current-icon.all { background-image: url(../images/6p/discovery/fabricIcons/arrowBlack.png); }
.list header nav h1.open span,
#dashboard header nav h1.open span { background-image: url(../images/6p/discovery/fabricIcons/arrowRed.png); }
header nav .slide,

header nav #shopping-cart,

header nav #notifications-menu.on { background-image: url(../images/6p/discovery/bell-on.png); }
#all-nav { background-image: url(../images/6p/discovery/fabricIcons/alldot.png); }
#movies-nav { background-image: url(../images/6p/discovery/fabricIcons/movieMenuIcon.png); }
#tv-nav { background-image: url(../images/6p/discovery/fabricIcons/tvMenuIcon.png); }
#travel-nav { background-image: url(../images/6p/discovery/fabricIcons/travelMenuIcon.png); }
#music-nav { background-image: url(../images/6p/discovery/fabricIcons/musicMenuIcon.png); }
.check-list-check { background-image: url(../images/6p/discovery/lightgrey-check.png); background-size: 100%; background-position: 0 0; margin-top: 45px;}
.check-list-check.checked { background-image: url(../images/6p/discovery/redcheck.png); }
#rate-first.coach0 { background-image: url(../images/6p/discovery/coach/coach0.png); }
#rate-first.coach1 { background-image: url(../images/6p/discovery/coach/coach1.png); }
#rate-first.coach2 { background-image: url(../images/6p/discovery/coach/coach2.png); }
#rate-first.coach3 { background-image: url(../images/6p/discovery/coach/coach3.png); }
#welcome-container #welcome-content.next { background-image: url(../images/discovery/05_scrim.png); }
#side-menu-rate .side-menu-icon { background-image: url(../images/6p/discovery/HamburgerIcons/rate.png); }
#side-menu-friends .side-menu-icon { background-image: url(../images/6p/discovery/HamburgerIcons/friends.png); }
#side-menu-matches .side-menu-icon { background-image: url(../images/6p/discovery/HamburgerIcons/matches.png); }
#side-menu-settings .side-menu-icon { background-image: url(../images/6p/discovery/HamburgerIcons/settings.png); }
#profile #top-genres .category.section1 .passion { background-image: url(../images/6p/discovery/fabricIcons/movieMenuIcon.png); }
#profile #top-genres .category.section2 .passion { background-image: url(../images/6p/discovery/fabricIcons/tvMenuIcon.png); }
#profile #top-genres .category.section3 .passion { background-image: url(../images/6p/discovery/fabricIcons/travelMenuIcon.png); }
#profile #top-genres .category.section4 .passion { background-image: url(../images/6p/discovery/fabricIcons/musicMenuIcon.png); }
